<style>
  #foo {
    position: fixed;
    top: 0;
    right: 0;
  }
  </style>
<div id="foo">
	<p>Welcome <%= @login.email %>
		<%= link_to "Log Out", logins_logout_path, :method =>"get" %>
	</p>
</div>
<td><%= link_to 'Start the test', question_papers_path %></td>