<h2>List Of Subjects</h2>
<% @question_papers.each do |question_paper| %>
	<p><%= question_paper.subject %> <%= link_to "Start the test", problems_path(id: question_paper.id), :method => "get"%></p>
<% end %>