<style>
  #foo {
    position: fixed;
    top: 0;
    right: 0;
  }
  </style>
<% if session[:user]!=nil %>
	<% puts "** index view email #{session[:user]["email"]}" %>
	<div id ="foo">
	<p>Welcome 
	<%= session[:user]["email"] %>
	<%= link_to "Log Out", sessions_logout_path, :method =>"get" %>
	</p>

	</div>
<% end %>
<h1>Your Final Score</h1>
<p><%= @percentage %> %</p>